@model IEnumerable<VivaFund.DomainModels.Project>

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-section-c text-center">
    @Html.Button("Create new Project", new { @class = "btn btn-embossed btn-primary", @type = "button", @onclick = "location.href='/Projects/Create'" })
</div>

<ul class="ProjectList">
    @foreach (var item in Model)
    {
        <li>

            <div>
                @Html.Partial("_ProjectPartial", item)
            </div>
            <br />
        </li>
    }
</ul>

