
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>

    <!-- FullScreen -->
    <div class="intro-header">
        <div class="col-xs-12 text-center abcen1" >
            <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">VivaFund #3</h1>
            <h2 class="h3_home wow fadeIn" data-wow-delay="0.6s">Share your ideas! Donate Projects! </h2>
            <ul class="list-inline intro-social-buttons">
                <li id="Recommended for you">
                    <a href="#recommended" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Recommended for you</span></a>
                </li>
                <li id="Take a look">
                    <a onclick = "location.href='/Projects'" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s"><span class="network-name">Take a look</span></a>
                </li>
            </ul>
        </div>
        <!-- /.container -->
        <div class="col-xs-12 text-center abcen wow fadeIn">
            <div class="button_down ">
                <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s" href="#browse"> <img class="img_scroll" src="~/Content/img/icon/circle.png" alt=""> </a>
            </div>
        </div>
    </div>

    <!-- Browse -->
    <div id="browse" class="content-section-b" style="margin-top: -15px; border-top: 0;">
        <div class="container">
            <div class="col-md-12  text-center wrap_title">
                <h2>Browse Projects by Category</h2>
                <p class="lead" style="margin-top:0">Choose a Category.</p>
            </div>
            <div class="row one">
                <div class="col-sm-3 wow fadeInDown text-center" onclick = "location.href='/Projects/Category/3'">
                    <img class="rotate" src="~/Content/img/icon/retina.svg" alt="Generic placeholder image">
                    <h3>Fashion</h3>
                </div><!-- /.col-lg-4 -->
                <div class="col-sm-3 wow fadeInDown text-center" onclick = "location.href='/Projects/Category/10'">
                    <img class="rotate" src="~/Content/img/icon/tweet.svg" alt="Generic placeholder image">
                    <h3>Photography</h3>
                </div><!-- /.col-lg-4 -->
                <div class="col-sm-3 wow fadeInDown text-center" onclick = "location.href='/Projects/Category/1'">
                    <img class="rotate" src="~/Content/img/icon/tweet.svg" alt="Generic placeholder image">
                    <h3>Art</h3>
                </div><!-- /.col-lg-4 -->
                <div class="col-sm-3 wow fadeInDown text-center" onclick = "location.href='/Projects/Category/2'">
                    <img class="rotate" src="~/Content/img/icon/picture.svg" alt="Generic placeholder image">
                    <h3>Books</h3>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
            <div class="row tworow">
                <div class="col-sm-3  wow fadeInDown text-center" onclick = "location.href='/Projects/Category/4'">
                    <img class="rotate" src="~/Content/img/icon/laptop.svg" alt="Generic placeholder image">
                    <h3>Films</h3>
                </div><!-- /.col-lg-4 -->
                <div class="col-sm-3 wow fadeInDown text-center" onclick = "location.href='/Projects/Category/5'">
                    <img class="rotate" src="~/Content/img/icon/map.svg" alt="Generic placeholder image">
                    <h3>Food</h3>
                </div><!-- /.col-lg-4 -->
                <div class="col-sm-3 wow fadeInDown text-center" onclick = "location.href='/Projects/Category/6'">
                    <img class="rotate" src="~/Content/img/icon/browser.svg" alt="Generic placeholder image">
                    <h3>Games</h3>
                </div><!-- /.col-lg-4 -->
                <div class="col-sm-3 wow fadeInDown text-center" onclick = "location.href='/Projects/Category/11'">
                    <img class="rotate" src="~/Content/img/icon/picture.svg" alt="Generic placeholder image">
                    <h3>Technology</h3>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
            <br />
            <br />
            <br />
            <div class="row threerow">
                <div class="col-sm-3 wow fadeInDown text-center" onclick = "location.href='/Projects/Category/7'">
                    <img class="rotate" src="~/Content/img/icon/tweet.svg" alt="Generic placeholder image">
                    <h3>Health</h3>
                </div><!-- /.col-lg-4 -->
                <div class="col-sm-3 wow fadeInDown text-center" onclick = "location.href='/Projects/Category/8'">
                    <img class="rotate" src="~/Content/img/icon/picture.svg" alt="Generic placeholder image">
                    <h3>Music</h3>
                </div><!-- /.col-lg-4 -->
                <div class="col-sm-3 wow fadeInDown text-center" onclick = "location.href='/Projects/Category/9'">
                    <img class="rotate" src="~/Content/img/icon/retina.svg" alt="Generic placeholder image">
                    <h3>Sports</h3>
                </div><!-- /.col-lg-4 -->
                <div class="col-sm-3 wow fadeInDown text-center" onclick = "location.href='/Projects'">
                    <img class="rotate" src="~/Content/img/icon/retina.svg" alt="Generic placeholder image">
                    <h3>All</h3>
                </div><!-- /.col-lg-4 -->
            </div><!--  /.row -->
          
        </div>
    </div>



